<div class="top-bar">
  <nav class="nav-links">
    <a routerLink="/planning-admin">Accueil</a>
    <a routerLink="/compte">Consulter votre compte</a>
    <a routerLink="/">Déconnexion</a>
  </nav>
</div>

<div class="planning-info">
  <p>Générer les places</p>
</div>

<div class="dashboard">
  <div class="calendar-actions">
    <div class="calendar-wrapper">
      <img src="assets/bureau.png" class="planning-image"/>
    </div>

    <div class="actions">
      <label for="date-debut">Date de début pour la génération</label>
      <input id="date-debut" type="date" [(ngModel)]="dateDebut"/>

      <label for="date-fin">Date de fin pour la génération</label>
      <input id="date-fin" type="date" [(ngModel)]="dateFin"/>

      <p>Choisir les équipes présentes pour ces dates :</p>

      <div class="checkbox-group">
        <!-- Création dynamique des checkboxes -->
        <label *ngFor="let equipe of equipes">
          <input
            type="checkbox"
            [id]="equipe.id"
            [name]="equipe.id"
            [value]="equipe.id"
            (change)="onCheckboxChange($event)"
          />
          {{ equipe.nomEquipe }}
        </label>
      </div>

      <button (click)="generatePlanning()">Générer le planning</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="logo-section">
    <img src="assets/sopra.png" alt="Sopra Steria" class="logo" />
  </div>

  <div class="triangle-section">
    <img src="assets/triangle.png" alt="Sopra Steria" class="triangle" />
  </div>
</div>
