<div class="top-bar">
  <nav class="nav-links">
    <a routerLink="/planning">Accueil</a>
    <a routerLink="/">Déconnexion</a>
  </nav>
</div>

<div class="planning-info">
  <p>Bonjour <strong>{{ currentUserEmail }}</strong> !</p>
  <p *ngIf="salleDuJour.length > 0">
    Vous êtes affecté aujourd’hui, à la salle <strong>{{ salleDuJour.join(', ') }}</strong>
  </p>
  <p>Nous sommes : <strong>{{ currentDateFr }}</strong></p>
</div>



<div class="dashboard">

  <!-- Conteneur principal flex pour le calendrier et les boutons -->
  <div class="calendar-actions">
    <div class="calendar-wrapper">
      <!-- Calendrier -->
      <full-calendar [options]="calendarOptions" class="full-calendar-container"></full-calendar>
    </div>

    <div class="actions">
      <button [routerLink]="'/'">Se déconnecter</button>
    </div>
  </div>
</div>



<div class="container">
  <div class="logo-section">
    <img src="assets/sopra.png" alt="Sopra Steria" class="logo" />
  </div>

  <div class="triangle-section">
    <img src="assets/triangle.png" alt="Sopra Steria" class="triangle" />
  </div>
</div>


