<div class="top-bar">
  <nav class="nav-links">
    <a routerLink="/planning-admin">Accueil</a>
    <a routerLink="/">Déconnexion</a>
  </nav>
</div>

<div class="planning-info">
  <p>Ajouter une équipe</p>
</div>

<div class="dashboard">
  <div class="calendar-actions">
    <div class="calendar-wrapper">
      <img src="assets/bureau.png" class="planning-image" />
    </div>

    <div class="actions">
      <!-- Nom de l'équipe -->
      <label for="equipe-nom">Nom de l'équipe</label>
      <input id="equipe-nom" type="text" placeholder="Ex: Équipe A" [(ngModel)]="nomEquipe" name="nomEquipe" />

      <!-- Nombre de jours de présentiel -->
      <label for="nb-jours-presentiel">Nombre de jours de présentiel</label>
      <input id="nb-jours-presentiel" type="number" placeholder="Ex: 3" [(ngModel)]="nbJoursPresentiel" name="nbJoursPresentiel" />

      <button (click)="ajouterEquipe()">Ajouter l'équipe</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="logo-section">
    <img src="assets/sopra.png" alt="Sopra Steria" class="logo" />
  </div>
  <div class="triangle-section">
    <img src="assets/triangle.png" alt="Sopra Steria" class="triangle" />
  </div>
</div>
