<div class="top-bar">
  <nav class="nav-links">
    <a routerLink="/planning-admin">Accueil</a>
    <a routerLink="/compte">Consulter votre compte</a>
    <a routerLink="/">Déconnexion</a>
  </nav>
</div>

<div class="planning-info">
  <p>Ajouter un bureau</p>
</div>

<div class="dashboard">
  <div class="calendar-actions">
    <div class="calendar-wrapper">
      <img src="assets/bureau.png" class="planning-image" />
    </div>

    <div class="actions">
      <label for="salle-nom">Nom de la salle</label>
      <input id="salle-nom" type="text" placeholder="Ex: Salle C" />

      <label for="salle-capacite">Capacité de la salle</label>
      <input id="salle-capacite" type="number" placeholder="Ex: 25" />

      <button>Ajouter</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="logo-section">
    <img src="assets/sopra.png" alt="Sopra Steria" class="logo" />
  </div>
  <div class="triangle-section">
    <img src="assets/triangle.png" alt="Sopra Steria" class="triangle" />
  </div>
</div>
