<div class="top-bar">
  <nav class="nav-links">
    <a routerLink="/planning-admin">Accueil</a>
    <a routerLink="/">Déconnexion</a>
  </nav>
</div>

<div class="planning-info">
  <p>Ajouter un utilisateur</p>
</div>

<div class="dashboard">
  <div class="calendar-actions">
    <div class="calendar-wrapper">
      <img src="assets/user.png" class="planning-image" />
    </div>

    <div class="actions">
      <label for="mail-utilisateur">Mail de l'utilisateur</label>
      <input id="mail-utilisateur" type="email" [(ngModel)]="newUser.adresseMail" name="email" placeholder="Ex: utilisateur@exemple.com" />

      <label for="mot-de-passe">Mot de passe</label>
      <input id="mot-de-passe" type="password" [(ngModel)]="newUser.motDePasse" name="password" placeholder="Mot de passe" />

      <label>Est admin ?</label>
      <div class="radio-group">
        <label>
          <input type="radio" [(ngModel)]="newUser.admin" name="admin" [value]="true" />
          Oui
        </label>
        <label>
          <input type="radio" [(ngModel)]="newUser.admin" name="admin" [value]="false" />
          Non
        </label>
      </div>

      <label for="equipe">Équipe</label>
      <select id="equipe" [(ngModel)]="selectedEquipeId" name="equipe">
        <option *ngFor="let equipe of equipes" [value]="equipe.id">{{ equipe.nomEquipe }}</option>
      </select>

      <button (click)="addUser()">Ajouter l'utilisateur</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="logo-section">
    <img src="assets/sopra.png" alt="Sopra Steria" class="logo" />
  </div>
  <div class="triangle-section">
    <img src="assets/triangle.png" alt="Sopra Steria" class="triangle" />
  </div>
</div>
